@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.cursive {
	font-family: 'Nerko One', cursive;
}

.prose img {
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.home-name {
	font-size: 100px;
}
